#if($ctx.results.items.size() == 0)
    #return
#end

#set($image = {})
#set($ownedImage = [])
#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "IMAGE")
        #set ($image = $item)
    #elseif($item["_TYPE"] == "OWNEDIMAGE")
        $util.qr($ownedImage.add($item))
    #end
#end

$util.qr($image.put("ownedImage", {
    "cursor": $ctx.result.nextToken,
    "ownedImage": $ownedImage
}))

$util.toJson($image)